
<!DOCTYPE html> <!-- tell browsers this is HTML5 -->
<html>
    <head>
        <Title>Open Python RPG</Title>
    </head>
    <body>

        <div id="events">
            <div>You have entered: {{ room.title }}</div>
            <div>You see: {{ room.description }}</div>
        </div>
        <div id="actions">
            <form action="/do" method="post">
                <fieldset>
                    <legend>You can go...</legend>
                    {% set my_dirs = room.direction_list() %}
                    {% for dir in ['up', 'north','down'] %}
                    <button {% if dir not in my_dirs %}disabled=true{% endif %} name="go" value="{{dir}}">{{dir|capitalize}}</button>
                    {% endfor %}
                    <br>
                    {% for dir in ['west', 'south', 'east'] %}
                    <button {% if dir not in my_dirs %}disabled=true{% endif %} name="go" value="{{dir}}">{{dir|capitalize}}</button>
                    {% endfor %}

                </fieldset>
            </form>
        </div>
    </body>
</html>
