
<!DOCTYPE html> <!-- tell browsers this is HTML5 -->
<html>
    <head>
        <Title>Open Python RPG</Title>
    </head>
    <body>

        <div id="events">
            <div>{{ room.title }}</div>
            <div>{{ room.description }}</div>
            <div>You can go: {{room.directions }}</div>
        </div>
        {% endwith %}
        <div id="actions">
            <form action="/do" method="post">
                <fieldset>
                    <legend>Go...</legend>
                    <button name="go" value="north">North</button>
                    <button name="go" value="south">South</button>
                    <button name="go" value="west">West</button>
                    <button name="go" value="east">East</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
